    <div data-role="header">
      <h1><%= @dialog.name %></h1>
    </div>

    <div data-role="content">
      <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
      <%end%>

      <%= form_tag(:controller=>"results", :action=>"vote") do %>
        <div data-role="fieldcontain">
        	<label for="question"><%= @question.content %></label>
        	<fieldset data-role="controlgroup">
        		<% @question.choices.each do |choice| %>
        			<%= radio_button_tag "choiced_id",choice.id,false, :id=>choice.id %>
        			<label for= <%= choice.id %> ><%= choice.content %></label>
        		<% end %>
        	</fieldset>
        	<%= hidden_field_tag "dialog_id", @dialog.id %>
        	<%= hidden_field_tag "question_id", @question.num %>
          <%= submit_tag("回答する") %>
        </div>
      <% end %>
    </div>
