<!DOCTYPE html>
<html>
<head>
  <title>Picolog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	<%= current_user.name %> : <%=link_to "Logout", logout_path %>
	<br/>

	<% if current_user.provider == "twitter" %>
		<% url= "https://twitter.com/" + current_user.screen_name %>
	<% elsif current_user.provider == "facebook" %>
		<% url= "http://www.facebook.com/" + current_user.screen_name %>
	<% end %>

	<%= link_to(image_tag(current_user.image, :alt => current_user.screen_name), url) %>

<% else %>
	<%= link_to "Twitter Login", "/auth/twitter" %>
	<br/>
	<%= link_to "Facebook Login", "/auth/facebook" %>
<% end %>

<%= yield %>

</body>
</html>
